section {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    margin: auto;
    gap: 40px;
}

.contact-text {
    flex: 1;
    width: 700px;

    h2 {
        font-size: 24px;
        font-family: 'Karla', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
        color: #00bfa6;
    }

    h3 {
        font-size: 64px;
        font-family: 'Fire code', monospace;
        font-weight: 700;
        color: #00bfa6;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 24px;
        font-family: 'Fire code', monospace;
        font-weight: 700;
        color: #00bfa6;
        margin-bottom: 20px;
    }

    span {
        color: #00bfa6;
    }
}

.label_text {
    font-family: 'Fire code', monospace;
    font-weight: 700;
    font-size: 24px;
    color: #00bfa6;
    padding-left: 40px;
}

input {
    margin-left: 30px;
}

textarea {
    margin-left: 30px;

}

.seperator {
    height: 1px;
    width: 600px;
    background-color: #00bfa6;
}

form {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form input:not([type="checkbox"]),
.contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #1c1c1c;
    color: #ffffff;
}

.contact-form input:not([type="checkbox"]):focus,
.contact-form textarea:focus {
    outline: 2px solid #00bfa6;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    margin: 40px 0;

    span {
        color: #00bfa6;
    }
}

.checkbox input {
    margin-right: 10px;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid #00bfa6;
    border-radius: 4px;
    background-color: #1c1c1c;
    position: relative;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:focus {
    outline: 2px solid #00bfa6;
    outline-offset: 2px;
}

.checkbox input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 8px;
    border: solid #00bfa6;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);


}

button {
    background-color: #1c1c1c;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px;
    width: 140px;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;

}

button:hover {
    background: #00d4b4;
}