section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #1c1c1c;
}
.imageAboutMe {
    border-radius: 20px;
    width: 550px;
    aspect-ratio: 1/1;
    margin: 20px;
    
}
.left_part {
   margin-bottom: 140px;
}
.right_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

span {
    color: #3DCFB6;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 90px;
}
.aboutMe{
    border: 1px solid #3DCFB6;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    height: 600px;
    width: 600px;
    >h2{
        color: #3DCFB6;
        font-family: 'Fire Code', monospace;
        font-size: 64px;
        font-weight: bold;
    }
    >p{
        color: white;
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        text-align: left;
        margin-bottom: 20px;
    }
}

.text{
    display: flex;
    flex-direction: column;
    > div {
        display: flex;
        align-items: flex-start;
        gap: 10px;
         >p{
        color: white;
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        text-align: left;
        margin-bottom: 20px;
        >.icons{
            width: 32px;
            height: 32px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}
}
