<section>
    <div>
        <img src="./assets/img/test_img/test_img_one.jpg" alt="">
    </div>
    <div>
        <span>Who I Am</span>
        <div>
            <h2>About Me</h2>
            <p></p>
            <p><img class="icons" src="./assets/icons/location_on.svg" alt="">I’m currently based in Meiningen, Germany, where I live with my family and three children. While relocation isn’t possible for me, I’m fully open to remote opportunities and highly value teamwork and collaboration across distances. I enjoy working with diverse professionals from different backgrounds and believe that great results can be achieved from anywhere.</p>
            <p><img class="icons" src="./assets/icons/work.svg" alt="">I’m an open-minded developer who’s always eager to explore new technologies and expand my skill set. The fast-paced nature of the IT world motivates me to stay curious, keep learning, and adapt quickly to emerging tools and frameworks.</p>
            <p><img class="icons" src="./assets/icons/school.svg" alt="">My approach to problem-solving combines analytical thinking, creativity, and persistence. I see every challenge as a learning opportunity to refine my understanding and improve my efficiency. I enjoy collaborating with others to find elegant and scalable solutions that not only work — but work beautifully.</p>
        </div>

    </div>
</section>
