header {

    background: linear-gradient(176deg, #1c1c1c, #08463B);
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}


.links {
    display: flex;
    gap: 20px;
    align-items: center;


    a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        font-family: Fira Code, monospace;
        transition: color 0.3s;

        position: relative;
        display: inline-block;

        &::after {
            content: "•";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;
            font-size: 18px;
            color: #36b39a;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }

        &:hover {

            &::after {
                opacity: 1;
            }
        }

    }

}

img {
    width: 200px;
    height: 50px;
    margin: 20px 60px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 33px;
    border: 2px solid #3DCFB6;
    border-radius: 100px;

    input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background: transparent;
        transition: 0.4s;

        &::before {
            content: "EN";
            font-weight: bold;
            font-family: Fira Code, monospace;
            padding-top: 5px;
            color: white;
            position: absolute;
            text-align: center;
            height: 25px;
            width: 50px;
            background: #3DCFB6;
            border-radius: 100px;
            transition: 0.4s;
        }
    }

    input:checked+.slider::before {
        content: "DE";
        color: white;
        transform: translateX(31px);
    }
}