<section>
    <h3>Portfolio</h3>
    <h1>Featured Projects</h1>
    <p>Explore a selection of my work here - interact with </p>
    <p> projects to see my skills in action.</p>
    <div class="projects_section">
        <div class="projects_box">
            <a routerLink="" class="join">
                <div class="project_content"><span class="project_name">Join <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></span><span
                        class="project_language">Angular | Typescript | HTML | CSS | Firebase</span></div>
            </a>
            <a href="" class="el_pollo_loco">
                <div class="project_content"><span class="project_name">El Pollo Loco <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></span><span
                        class="project_language">Javascript | HTML | CSS</span></div>
            </a>
            <a href="" class="last_link pokedex">
                <div class="project_content"><span class="project_name">Pokedex <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></span><span
                        class="project_language">HTML | CSS | Javascript | API</span></div>
            </a>
            <div class="project_preview"></div>
        </div>
        
    </div>
</section>

