section {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 60px 120px;
    

    h3 {
        font-family: 'Karla', sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #3DCFB6;
    }

    h1 {
        font-family: 'Fire Code', sans-serif;
        font-size: 64px;
        margin-bottom: 20px;
        font-weight: 700;
        color: #3DCFB6;
    }

    p {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    a {
        padding: 0 16px;
        border-top: 1px solid #3DCFB6;

        img {
            display: none;
        }

        &:hover {
            background-color: rgba(61, 207, 182, 0.3);
            transition: 0.3s;
            img {
                display: inline;
            }
        }
    }
}

.projects_section {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-top: 40px;
}

.projects_box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
}

.project_content {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.project_name {
    font-family: 'Fire Code', sans-serif;
    font-size: 24px;
    font-weight: 700;

}

.project_language {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.last_link {
    border-bottom: 1px solid #3DCFB6;
}

.project_preview {
    position: absolute;
    top: 0;
    right: -550px;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    
    background-position: -40px -30px, center;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease, background-image 0.4s ease;
    z-index: 10;
    overflow: visible;
}

.join:hover~.project_preview {
    background-image: url('/assets/img/projects/join.svg'),
    url('/assets/img/projects/projects_background.svg');
    opacity: 1;
    transform: translateY(0);
}

.el_pollo_loco:hover~.project_preview {
    background-image: url('/assets/img/projects/el_pollo_loco.svg'),
    url('/assets/img/projects/projects_background.svg');
    opacity: 1;
    transform: translateY(0);
}

.pokedex:hover~.project_preview {
    background-image: url('/assets/img/projects/Pokedex_screen.jpg'),
    url('/assets/img/projects/projects_background.svg');
    opacity: 1;
    transform: translateY(0);
}