<section>
    <h3>Portfolio</h3>
    <h1>Featured Projects</h1>
    <p>Explore a selection of my work here - interact with </p>
    <p> projects to see my skills in action.</p>
    <div class="projects_section">
        <div class="projects_box">
            <a class="join" (mouseover)="setPreview(0)" (click)="openProject(dialog.projectDialog[0])">
                <div class="project_content"><span class="project_name">Join
                        <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></span><span
                        class="project_language">Angular | Typescript | HTML | CSS | Firebase</span></div>
            </a>
            <a class="el_pollo_loco" (mouseover)="setPreview(1)" (click)="openProject(dialog.projectDialog[1])">
                <div class="project_content"><span class="project_name">El Pollo Loco <img
                            src="./assets/icons/Projects/arrow_outward.svg" alt=""></span><span
                        class="project_language">Javascript | HTML | CSS</span></div>
            </a>
            <a class="last_link pokedex" (mouseover)="setPreview(2)" (click)="openProject(dialog.projectDialog[2])">
                <div class="project_content"><span class="project_name">Pokedex <img
                            src="./assets/icons/Projects/arrow_outward.svg" alt=""></span><span
                        class="project_language">HTML | CSS | Javascript | API</span></div>
            </a>
        </div>
        <div class="project_preview">
            <img class="background" src="/assets/img/projects/projects_background.svg"
                alt="Dekoratives Hintergrundbild" />
            <img class="foreground" [src]="currentPreview" alt="Projekt-Vorschau">
        </div>



    </div>
    <app-dialog [project]="selectedProject" [isOpen]="isDialogOpen" (closed)="closeProject()"
        (opened)="selectedProject = $event"></app-dialog>
</section>