<section>
    <h3>Portfolio</h3>
    <h1>Featured Projects</h1>
    <p>Explore a selection of my work here - interact with </p><p> projects to see my skills in action.</p>
    <div class="projects_box">
        <a href=""><div class="project_content"><span class="project_name">Join</span><span class="project_language">Angular | Typescript | HTML | CSS | Firebase</span></div></a>
        <a href=""><div class="project_content"><span class="project_name">El Pollo Loco</span><span class="project_language">Javascript | HTML | CSS</span></div></a>
        <a href="" class="last_link" ><div class="project_content"><span class="project_name">Pokedex</span><span class="project_language">HTML | CSS | Javascript | API</span></div></a>
    </div>
</section>
<!-- // links einfügen -->
