<div class="wrapper">
<section id="comments" class="content-shell section-space">
    <h2>What my colleagues say about me</h2>
    <div class="comments_container">
        
        @for (text of comments; track $index) {
        <div class="comment_box">
            <span class="comment_text">{{ text.comment }}</span>
            <div class="comment_box_underline">
            <div class="seperator"></div>
            <span class="comment_name">{{ text.name }}</span>
            </div>
        </div>
        }
        
    </div>
    <div>
        <button><img src="./assets/icons/comments/arrow_back.svg" alt=""></button>
        <div><p><span class="dote_one">.</span><span class="dote_two">.</span><span class="dote_three">.</span></p></div>
        <button><img src="./assets/icons/comments/arrow_forward.svg" alt=""></button>
    </div>
</section>
</div>