<section>
    <h2>What my colleagues say about me</h2>
    <div class="comments_container">
        
        @for (text of comments; track $index) {
        <div class="comment_box">
            <span class="comment_text">{{ text.comment }}</span>
            <div class="comment_box_underline">
            <div class="seperator"></div>
            <span class="comment_name">{{ text.name }}</span>
            </div>
        </div>
        }
        
    </div>
    <div>
        <button><img src="./assets/icons/comments/arrow_back.svg" alt=""></button>
        <!-- <div> /*Punkte einbauen und mit einer Funktion austauschen beim click*/</div> -->
        <button><img src="./assets/icons/comments/arrow_forward.svg" alt=""></button>
    </div>
</section>