<section>
    <div class="left_side">

        <div class="left_side_arrow">
            <img src="./assets/icons/Landing_page/landing_page_arrow.svg" alt="" class="float">
        </div>
        <div class="separator_left"></div>
    </div>
    <div class="right_side">

        <div class="right_links">
            <a href="https://linkedin.com/in/deinprofil" target="_blank"><img
                    src="./assets/icons/Landing_page/LinkedIn_icon.svg" alt=""></a>
            <a href="https://github.com/KevinHaseDev" target="_blank"><img
                    src="./assets/icons/Landing_page/Github_icon.svg" alt=""></a>
            <a href="mailto:hasekevin21@googlemail.com">hasekevin21@googlemail.com</a>
        </div>
        <div class="separator_right">
        </div>
    </div>


    <div>
        <h2>Frontend Developer</h2>
        <h1>Kevin Hase</h1>
        <div class="links">
            <a routerLink="/projects"><span routerLink="/projects">Check my work</span></a>
            <a routerLink="/contact"><span routerLink="/contact">Contact me</span></a>
        </div>
    </div>
    <div class="scroll_banner">
        <div class="scroll_content">
            <span>•</span><span> Available for remote work </span><span>•</span><span> Fullstacked Developer
            </span><span>•</span><span> Based in Thuringia </span><span>•</span><span> Open to projects </span>
            <span>•</span><span> Available for remote work </span><span>•</span><span> Fullstacked Developer
            </span><span>•</span><span> Based in Thuringia </span><span>•</span><span> Open to projects </span>
            <span>•</span><span> Available for remote work </span><span>•</span><span> Fullstacked Developer
            </span><span>•</span><span> Based in Thuringia </span><span>•</span><span> Open to projects </span>
            <span>•</span><span> Available for remote work </span><span>•</span><span> Fullstacked Developer
            </span><span>•</span><span> Based in Thuringia </span><span>•</span><span> Open to projects </span>
        </div>
    </div>
</section>