<div class="wrapper">
    <section id="skills" class="content-shell section-space">
        <div class="skill_container">
            <h3>{{ content().subtitle }}</h3>
            <div class="skill_box">
                <h1>{{ content().title }}</h1>
                <p>{{ content().description }}</p>
                <h4><span class="highlight">{{ content().needAnotherSkillText }}</span></h4>
                <p>{{ content().contactPrompt }}</p>
                <a routerLink="/" fragment="contact">{{ content().talkButton }}</a>
            </div>
        </div>

        <div class="skill_icons">
            @for (icon of iconList; track $index) {

            <div>
                <img src="{{iconList[$index].icon}}" alt="">
                <p>{{ iconList[$index].name }}</p>
            </div>
            }

        </div>
    </section>
</div>