<section>
    <div class="skill_container">
        <h3>Technologies</h3>
        <div class="skill_box">
            <h1>Skill Set</h1>
            <p>I’m a front-end developer with hands-on experience in modern web technologies such as HTML, CSS, JavaScript, TypeScript, and Angular, as well as frameworks and tools that support responsive and dynamic user interfaces. I enjoy building clean, accessible, and performant web applications that deliver great user experiences.

I’m highly adaptable and always eager to learn new technologies, keeping pace with the fast-evolving world of web development. Staying up to date with the latest trends, best practices, and tools is a key part of my workflow—it helps me continuously improve my craft and deliver solutions that meet current industry standards.</p>
            <h4>You need <span class="highlight">another skill?</span></h4>
            <p>feel free to contact me. I look forward to expanding on my previous knowledge.</p>
            <a routerLink="/contact">Lets`s Talk</a>
        </div>
    </div>

    <div class="skill_icons">
        @for (icon of iconList; track $index) {

            <div>
                <img src="{{iconList[$index].icon}}" alt="">
                <p>{{ iconList[$index].name }}</p>
            </div>
        }
        
    </div>
</section>