section {
    display: flex;
    justify-content: space-around;
    background-color: #1c1c1c;
    background: radial-gradient(circle at left center, #3dcfb7 , #1c1c1c 20%);
    color: white;
    padding: 100px 60px;
    h3 {
        font-family: 'Karla', sans-serif;
        font-size: 28px;
        color: #3DCFB6;
        margin-bottom: 30px;
    }
}

.skill_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    width: 520px;

    >h1 {
        font-family: 'Fire Code', sans-serif;
        font-size: 64px;
        font-weight: 700;
        color: #3DCFB6;
    }
    >h4 {
        font-family: 'Fire Code', sans-serif;
        font-size: 24px;
        font-weight: 700;
    }

    >p {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-weight: 400;

    }
    >a{
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        width: 130px;
        height: 48px;
        border: 1px solid #ffffff;
        border-radius: 100px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        text-align: center;
    }
}

.highlight {
    color: #3DCFB6;
}

.skill_icons {
    width: 500px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    padding: 80px 20px;
    text-align: center;
    img{
        transition: all 0.1s ease-in-out;
        &:hover {
            scale: 1.08;
        }
    }
}