
    <div class="dialog-content">
        <h1>{{ projectDialog.title }}</h1>
        <h2>{{ projectDialog.name }}</h2>
        <h3>What is this project about?</h3>
        <p>{{ projectDialog.description }}</p>
        <div>@for (value of projectDialog.technologies; track $index) {
            <div>
                <img src="{{ value.icon }}" alt=""><span>{{ value.name }}</span>
            </div>
           }
        </div>
        <div>
            <button>GitHub <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></button>
            <button>Live Test <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></button>
        </div>
       
    </div>
     <div class="dialog-actions">
            <button id="closeDialog">Schließen</button>
            <img src="{{ projectDialog.footer.previewImage }}" alt="">
            <button>Next project <img src="./assets/icons/Projects/arrow_forward.svg" alt=""> </button>
        </div>
