<dialog id="infoDialog">
    <div class="dialog-content">
        <h1>01</h1>
        <h2>Join</h2>
        <h3>What is this project about?</h3>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories. </p>
        <div>
            <div>
                <img src="./assets/icons/Projects/CSS.svg" alt=""><span>CSS</span>
            </div>
            <div>
                <img src="./assets/icons/Projects/html.svg" alt=""><span>HTML</span>
            </div>
            <div>
                <img src="./assets/icons/Projects/Firebase.svg" alt=""><span>Firebase</span>
            </div>
            <div>
                <img src="./assets/icons/Projects/Angular.svg" alt=""><span>Angular</span>
            </div>
            <div>
                <img src="./assets/icons/Projects/Typescript.svg" alt=""><span>Typescript</span>
            </div>
        </div>
        <div>
            <button>GitHub <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></button>
            <button>Live Test <img src="./assets/icons/Projects/arrow_outward.svg" alt=""></button>
        </div>
       
    </div>
     <div class="dialog-actions">
            <button id="closeDialog">Schließen</button>
            <img src="./assets/img/projects/join.svg" alt="">
            <button>Next project <img src="./assets/icons/Projects/arrow_forward.svg" alt=""> </button>
        </div>
</dialog>